@model RuRuServer.Models.DataModel
@{
    ViewData["Title"] = "Газпромбанк RPReq";
}

<div class="text-center mb-2">
    <h1 class="display-6">2. RegisterPaymentRequest (RPReq) </h1>
</div>

<form asp-action="Register" method="post">
    <div class="row">

        <div class="col-12">

            <ul class="list-group">

                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">MerchantId</div>
                        @Model.InitModel.MerchantId
                        <input id="MerchantId" asp-for="InitModel.MerchantId" type="hidden" value="@Model.InitModel.MerchantId" />
                    </div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">InvoiceId</div>
                        @Model.InitModel.InvoiceId
                        <input id="InvoiceId" asp-for="InitModel.InvoiceId" type="hidden" value="@Model.InitModel.InvoiceId" />
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto text-break">
                        <div class="fw-bold">Callback Url</div>
                        @Model.Url
                        <input id="Url" asp-for="Url" type="hidden" value="@Model.Url" />
                    </div>
                </li>
            </ul>
            <input id="TransactionId" asp-for="InitModel.TransactionId" type="hidden" value="@Model.InitModel.TransactionId" />
            <button class="my-2 btn btn-dark" type="submit">Proceed RPReq</button>
        </div>
    </div>
</form>

<div class="my-3">
    <label for="Output" class="form-label">Response:</label>
    <textarea name="@Model.Output" type="text" class="form-control" rows="5">@Model.Output</textarea>

   
</div>